/* a quien voy a modificar? Y que le voy a modificar */
h1 {
    color: red;
    background-color: black;
    text-align: center;
}
.titulo_uno {
    color: green;
    background-color: lightgray;
    text-align: center;
}
#titulo_dos {
    color: blue;
    background-color: yellow;
    text-align: right;
}
#nav1 {
    height: 200px; 
    width: 1300px; 
    background-color: lightblue; 
    display: flex;
}
#img1 {
    height: 100px; 
    width: 170px;
}
#ul1 {
    padding-left: 970px;
}
#section1 {
    height: 700px; 
    width: 1300px; 
    background-color: cadetblue; 
    display: flex; 
    margin-top: 20px;
}   
#article1 {
    flex: 2; 
    padding: 20px;
}
#aside1 {
    flex: 1; 
    background-color: orange; 
    padding: 20px;
}
#img2 {
    height: 100px; 
    width: 170px;
}
#footer1 {
    height: 200px; 
    width: 1300px; 
    background-color: grey; 
    margin-top: 20px;
}